<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="./css/styles.css">
  <title>About</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="potrait" src="/img/robot.png" alt="Robot">
    <p>Hey, I am <em>Anurag</em>. </p>
    <p>Nice to meet you!</p>
    <p> This is a demo project for learning node.</p>
  </div>

  {{>footer}}
</body>

</html>